.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
.list-item-wrapper {
  background-color: #140524;
  padding: 50px 0;

  color: white;
}
.list-item-wrapper h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  font-size: 35px;
}
.list-item-wrapper .items {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  margin-top: 30px;
}
.list-item-wrapper .items .item {
}
.list-item-wrapper .items .item .image {
  display: flex;

  height: 90px;
}
.list-item-wrapper .items .item .image img {
  margin: 0 auto;
}
.items .item .title {
  font-weight: 600;
}
.items .title {
  margin: 10px 0;
}
.items .info p {
  display: block;
  margin: 3px 0;
}
